{% extends 'base.html' %}
{% block content %}
        <!-- cadastro palavras -->
        <section class="page-section cadastro" id="glossario">
            <div class="container d-flex align-items-center flex-column">
                <!-- cadastro palavras-->
                <div class="row justify-content-center">
                    <p><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastre sua palavra</h2></p>

                        {% if form1 %}
                        <form action="" method="POST" enctype="multipart/form-data">
                        {%  csrf_token %}
                            {{ form1.as_p }}
                            <p><button type="submit" class="btn btn-primary">Proximo</button></p>
                        </form>
                        {% endif %}
                        {% if form2 %}
                        <form action="" method="POST" enctype="multipart/form-data">
                        {%  csrf_token %}
                            {{ form2.as_p }}
                            <p><button type="submit" class="btn btn-primary">Salvar</button></p>
                        </form>
                        {% endif %}
                                
                </div>
            </div>
        </section>
{% endblock %}